<md-toolbar color="primary">
    <lang></lang>
    <span class="post-spacer"></span>
    <h1 i18n>{{ translateService.translate('Homework') }}</h1>
    <span class="post-spacer"></span>
    <md-icon class="post-icon add-post" (click)="openNewPostDialog()">add_circle</md-icon>
</md-toolbar>
<alert></alert>
<section class="post-list">
    <md-card *ngFor="let post of posts" [routerLink]="['/post', post.id]">
        <md-card-header>
            <md-card-title>{{ post.title }}</md-card-title>
        </md-card-header>
        <md-card-content>
            <p>{{ post.body }}</p>
        </md-card-content>
        <md-card-actions>
            <button md-button i18n>{{ translateService.translate('Read more...') }}</button>
        </md-card-actions>
    </md-card>
</section>