.add-post {
    width: 36px;
    height: 36px;
    font-size: 36px;
}
.post-list {
    width: 80%;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    column-gap: 30px;
    padding: 45px 0;
}
@media only screen and (min-width: 600px) {
    .post-list {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1000px) {
    .post-list {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
.post-list .mat-card {
    width: 100%;
    margin: 15px 0;
    padding: 0;
    padding-bottom: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}
.post-list .mat-card .mat-card-header {
    background-color: #333;
    color: #fff;
}
.post-list .mat-card .mat-card-header .mat-card-title {
    margin: 16px;
    text-transform: capitalize;
    font-size: 16px;
}
.post-list .mat-card .mat-card-content {
    margin: 16px 24px;
    padding: 0;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 20px;
}
.post-list .mat-card .mat-card-actions {
    padding-left: 40px;
    padding-right: 40px;
    text-align: right;
}