.alert {
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    line-height: 40px;
    -webkit-transition: height 0.4s;
    transition: height 0.4s;
    overflow: hidden;
}
.alert.alert-success {
    background-color: #dff0d8;
    color: #3C763A;
}
.alert.alert-error {
    background-color: #f2dede;
    color: #a94442;
}
.alert.alert-warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
}