<p i18n>{{ translateService.translate('Are you sure you want to delete this post?') }}</p>

<form (ngSubmit)="deletePostForm.form.valid && onSubmit()" #deletePostForm="ngForm" novalidate>
    <div class="buttons-wrapper">
        <button md-button type="submit" i18n>{{ translateService.translate('Delete post') }}</button>
    </div>
</form>