<form class="material-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
        <md-input-container>
            <input mdInput type="text" class="form-control" name="title" placeholder="{{ translateService.translate('Title') }}" [(ngModel)]="newPost.title" #title="ngModel" required />
        </md-input-container>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !body.valid }">
        <md-input-container>
            <input mdInput type="text" class="form-control" name="body" placeholder="{{ translateService.translate('Content of your post') }}" [(ngModel)]="newPost.body" #body="ngModel" required />
        </md-input-container>
    </div>
    <div class="buttons-wrapper">
        <button md-button type="submit" i18n>{{ translateService.translate('Save changes') }}</button>
    </div>
</form>