.post-main {
    width: 80px;
    max-width: 1200px;
    min-width: 300px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    text-transform: capitalize;
    margin: 60px auto;
}
.post-comments {
    width: 80%;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    font-weight: 200;
}
.post-comments ul {
    padding: 0;
    margin: 0;
}
.post-comments ul li {
    list-style: none;
    border-bottom: 1px solid #e6e6e6;
    padding: 30px 0 15px 0;
}
.post-comments ul li:first-child {
    padding-top: 10px;
}
.post-comments ul li:last-child {
    border-bottom: 0;
}
.post-comments ul li .name {
    font-weight: 500;
    text-transform: capitalize;
}
.post-comments ul li .autor {
    text-transform: lowercase;
}
.post-comments ul li p {
    text-transform: capitalize;
}