<md-toolbar color="primary">
    <md-icon class="post-icon" [routerLink]="['/']">chevron_left</md-icon>
    <lang></lang>
    <span class="post-spacer"></span>
    <h1>{{ post.title }}</h1>
    <span class="post-spacer"></span>
    <md-icon class="post-icon" (click)="openEditDialog(post.id)">edit</md-icon>
    <md-icon class="post-icon" (click)="openDeleteDialog(post.id)">delete</md-icon>
</md-toolbar>
<alert></alert>
<section class="post-main">
    {{ post.body }}
</section>
<section class="post-comments" *ngIf="comments.length > 0">
    <h2 i18n>{{ translateService.translate('Comments') }}</h2>
    <ul>
        <li *ngFor="let comment of comments">
            <div class="header">
                <div class="name">{{ comment.name }}</div>
                <div class="autor">{{ comment.email }}</div>
            </div>
            <p>{{ comment.body }}</p>
        </li>
    </ul>
</section>