/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
h1 {
    color: #fff;
    text-transform: capitalize;
}
button.mat-button {
    border: 1px solid #333;
}
.mat-toolbar .mat-toolbar-row {
    height: 100px;
}
.post-icon {
    padding: 0 14px;
    cursor: pointer;
    outline: none;
}
.post-spacer {
    flex: 1 1 auto;
}
form {
    width: 100%;
    min-width: 300px;
}
form .mat-input-container {
    width: 100%;
}
form .buttons-wrapper {
    text-align: center;
}